{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <section id="hero" class="block block--dark hero">
        <div class="container grid grid--1x2 hero__grid">
            <header class="block__header hero__content" >
                <h1>Certifications</h1>
                <p class="hero__tagline">I design relational databases, and develop SQL queries.</p>
                <a href="#" class="btn btn--accent">learn more</a>
            </header>
            <picture class="hero__image">
                <source
                    type="image/webp"
                    srcset="{% static 'home/images/banner.webp' %} 1x, {% static 'home/images/banner@2x.webp' %} 2x"
                />
                <source
                    type="image/png"
                    srcset="{% static 'home/images/banner.jpg' %} 1x, {% static 'home/images/banner@2x.jpg' %} 2x"
                />
                <img class="hero__image" src="{% static 'home/images/banner.png' %}" alt="" />
            </picture>
        </div>
    </section>
{% endblock content %}
