@import './normalize.css';

:root {
  /* --color-1: #f5f1f0;
  --color-2: #e2be2b;
  --color-3: #85a8a9;
  --color-4: #78663d;
  --color-5: #353336; */
  --color-secondary: #78663d;
  --color-primary: #3b4c4d;
  --color-accent: #e2be2b;
  --color-headings: #1b0760;
  /* --color-body: #353336; */
  --color-body: #10abc0;
  --color-body-dark: #f5f1f0;
  --color-border: #ccc;
  --border-radius: 0.1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace; */
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.3;
  color: var(--color-body-dark);
  background-color: var(--color-body);
  min-width: 500px;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  min-height: 100%;
}

h1,
h2,
h3 {
  color: var(--color-accent);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    /* display: flex;
    flex-direction: column; */
    overflow-x: hidden;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--accent {
  fill: white;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.icon--contact {
  height: 20rem;
  width: 20rem;
}

.icon-container {
  background: #f3f9fa;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon__certification {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

/* Buttons */

.btn {
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 2rem 4vw;
  white-space: nowrap;
  text-align: center;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: middle;
}

.btn--accent {
  background: var(--color-secondary);
  color: white;
}

.btn--accent:hover {
  background: var(--color-accent);
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--outline {
  background: var(--color-body-dark);
  border: var(--color-accent) 2px solid;
  color: var(--color-accent);
}

.btn--outline:hover {
  background-color: var(--color-accent);
  color: white;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--contact {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .hero__btn {
    font-size: 2rem;
    padding: 2rem 0;
  }
}

/* Inputs */

.input {
  border: none;
  border-radius: 3px;
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 0.7rem;
  transition: box-shadow 0.3s;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 0 20px 5px #ccc;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  border-radius: 0.7rem 0.7rem 0 0;
  background: var(--color-accent);
  flex: 1 1 0px;
}

.card__header h3 {
  color: var(--color-body-dark);
  font-weight: 700;
}

.card__body {
  background-color: var(--color-body-dark);
  border-radius: 0 0 0.7rem 0.7rem;
}

.card__header_certification {
  display: flex;
}

@media screen and (min-width: 768px) {
  .card {
    overflow: hidden;
  }
  .card__header,
  .card__body {
    border-radius: 0;
  }
}

/* grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* blocks */

.block {
  --vertical--padding: 3rem;
  padding: var(--vertical--padding) 2rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: var(--color-body);
  color: var(--color-primary);
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: var(--color-accent);
}

.block--skewed--right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: calc(var(--vertical--padding) + 4rem);
}

.block--skewed--left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: calc(var(--vertical--padding) + 4rem);
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__header_certification {
  margin-top: 0;
  margin-bottom: 2rem;
}

.block__header_certification > h1 {
  margin-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container__certification {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .container__certification {
    flex-direction: row;
  }
}

/* Navigation Bar */

.nav {
  font-weight: 600;
  background-color: var(--color-body);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: white;
  cursor: pointer;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.3s;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    justify-content: flex-end;
  }

  .nav__item {
    border: none;
  }
}

/* header */

.header__logo {
  margin: 1rem;
  transition: transform 0.15s;
}

.header__logo:hover {
  transform: scale(110%);
}

.header__brand {
  margin-left: 2rem;
  margin-right: auto;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 3rem;
  transition: color 0.15s;
}

.header__brand:hover {
  color: var(--color-accent);
}

/* Footer */

.footer {
  background-color: var(--color-body);
  color: var(--color-primary);
  justify-content: center;
  padding: 1.5rem 0;
}

.footer__brand {
  text-align: center;
}

.footer__brand > a {
  margin: 0 1rem;
}

.footer__brand img {
  width: 3rem;
  opacity: 0.5;
  transition: opacity 0.15s;
}

.footer__brand img:hover {
  opacity: 1;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__credit {
  font-size: 1rem;
  text-align: center;
}

.footer__credit * {
  color: var(--color-secondary);
}

.footer__copyright {
  color: white;
}

@media screen and (min-width: 768px) {
  .footer__brand {
    order: -1;
    margin: 0;
  }

  .footer__copyright {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
}

/* hero */

.hero__tagline {
  font-size: 2rem;
  color: var(--color-body-dark);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  text-align: center;
}

.hero__image > img {
  width: 100%;
  max-width: 70%;
  border: 5px solid white;
  border-radius: 5px;
  opacity: 0.5;
}

.hero__image > img:hover {
  opacity: 0.8;
}

.hero__btn {
  background-color: var(--color-body);
}

@media screen and (min-width: 768px) {
  .hero__image > img {
    margin: 0 3rem;
  }

  .hero__content {
    text-align: center;
    align-items: center;
  }

  .hero__btn {
    width: 80%;
    margin: 0 auto;
  }
}

/* Contact */

.contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.15s;
}

.contact__header:hover {
  transform: scale(110%);
}

.contact__header > h1 {
  color: var(--color-accent);
}

.contact__message {
  font-size: 2rem;
  color: var(--color-body-dark);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.contact__fieldset {
  border-radius: 3rem;
  border: none;
  background-color: var(--color-border);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* box-shadow: 0 0 10px 1px var(--color-body-dark); */
}

.contact__form_field_label {
  font-size: 1.6rem;
  font-weight: 600;
}

.contact__form_field {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
  transition: box-shadow 0.5s;
}

.contact__form_field:focus {
  outline: none;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.contact__form_field:hover {
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.contact__grid_column {
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .contact__content {
    text-align: center;
    align-items: center;
  }
  .contact__fieldset {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .contact__grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* messages */

.message__container {
  background-color: var(--color-body);
}

.message__content {
  background-color: var(--color-accent);
  color: var(--color-secondary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .message__content {
    width: auto;
  }
}

/* certification block */

.certification__subtitle {
  font-size: 2rem;
  color: var(--color-body-dark);
}

/* profile */

.block--profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.profile__content {
  height: auto;
}

/* home/profile */

@media screen and (max-width: 768px) {
  /* header {
    position: relative;
  }

  footer {
    position: relative;
  } */

  .imgBx img {
    position: relative;
  }

  .imgBx {
    position: relative;
  }
}

header {
  z-index: 10000;
}

.slider {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: inset 0 0 3rem 0.5rem var(--color-body);
}

.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  /* clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); */
  /* clip-path: circle(0px at center); */
  opacity: 0;
  box-shadow: inset 0 0 3rem 0.5rem var(--color-body);
}

.slider input[type='radio']:checked + .imgBx {
  z-index: 10;
  /* clip-path: circle(1000px at center); */
  opacity: 1;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  transition-delay: 0.5s;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgBx .content {
  position: relative;
  text-align: center;
  background-color: rgba(37, 104, 228, 0.6);
  padding: 2rem;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .imgBx .content {
    max-width: 50vw;
  }
}

.imgBx .content h2 {
  font-size: 4rem;
  /* line-height: 1rem; */
  color: var(--color-accent);
}

.imgBx .content p {
  font-size: 1.5rem;
  color: var(--color-body-dark);
  padding: 2rem;
  font-weight: 600;
}

/* .imgBx .content a {
  position: relative;
  display: inline-block;
  background: white;
  padding: 1rem 3rem;
  color: #111;
  font-weight: 500;
  text-decoration: none;
} */

.btn__profile {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: white;
}

.btn__profile:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.slider input[type='radio'] {
  position: relative;
  z-index: 1000;
  margin: 0.5rem;
  margin-bottom: 4rem;
  outline: none;
  cursor: pointer;
}

.profile__text {
  text-decoration: line-through;
}

.profile__text-symbol {
  font-weight: 700;
}

.grid--home-btn {
  gap: 2rem;
}
